*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

button {
    padding: 5px;
}

.info {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px;
    width: 310px;
    height: 100px;
    margin: auto;
    padding: 10px;
}

