*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    padding: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.fixed {
    position: sticky;
    top: 0px;
}

.menu a{
    display: inline-block;
    padding: 15px 30px;
    box-shadow: 0 1px 3px blue;
    background-color: white;
    margin-bottom: 20px;
}

.menu {
    display: block;
}

.topbar {
    padding: 20px;
}

.content {
    display: flex;
    gap: 4em;
}

.main{
    box-shadow: 0 1px 3px;
    padding: 20px;
    background-color: white;
    float: left;
    width: 75%;
    height: 200vh;
}

.sidebar {
    background-color: white;
    box-shadow: 0 1px 3px;
    padding: 20px;
    float: right;
    width: 24%;
    height: 100vh;
}